/* Estilo general para toda la página */
body {
    background-color: #F0F0F0; /* Gris muy claro en hexadecimal */
    font-family: sans-serif;
}

/* Alineamos el título principal al centro */
#titulo-principal {
    color: navy;
    text-align: center;
}

/* Estilo para elementos urgentes */
.urgente {
    color: #FF0000; /* Rojo puro en hexadecimal */
    font-weight: bold; /* Texto en negrita */
}

/* El contenedor que envuelve los elementos */
section {
    display: flex;       /* Activa el modo flexible para sus hijos */
    flex-wrap: wrap;    /* Si no caben, saltan a la siguiente línea */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    gap: 40px;          /* Crea un pasillo de separación entre tarjetas */
}

/* Las cajas de cada elemento (los article) */
article {
    width: 400px;       /* Ancho fijo para que parezcan tarjetas */
    background-color: rgb(202, 223, 236);
    padding: 70px;
    border: 5px solid #00054e;
